<!doctype html>
<html lang="en">
  <head>
    
    
    <style type="text/css">
        span{
            color: #e3f2fd;

        }

    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <title>{{atendimento.nome_cliente}}</title>
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="col-lg-12" style="text-align: right;">
            <button type="button" class="btn btn-light" ><a  href="{% url 'sair' %}">Sair</a></button> 
            <button type="button" class="btn btn-light" ><a  href="{% url 'novo_atendimento' %}">Cadastrar atendimento</a></button>      
        </div>    
    </nav>
    <br>
    
        <div class="container">
            <div class="row">
                {% for a in atendimentos %}
                    <div class="col-md">

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">{{a.servico}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{a.nome_cliente}}</h6>
                            <td>
                            {% if a.status == "R" %}
                               <span class="badge bg-success">Realizado</span>
                            {% elif a.status == "C" %}
                               <span  class="badge bg-danger">Cancelado</span>
                            {% elif a.status == "P"  %}
                                <span class="badge bg-primary">Pendente</span>
                            {% endif%}  
                            </td>
                            <a href="{% url 'atendimento_detalhes' a.id %}" class="card-link">Detalhes</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
            </div>
        </div>
    
   

    

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script>
    </script>

    
  </body>
</html>