{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->  
    <link  href="{% static 'funcionario/css/login.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Login Limpa Bem</title>
</head>
<body>
     
    <div class="center">
        {% if status == '1' %}
            <div class="alert alert-danger" role="alert">
                <p>Usario inválido.</p>
            </div>
        {% elif status == '2' %}
            <div class="alert alert-danger" role="alert">
                <p>Erro</p>
            </div>
        {% endif %}
        <h1>Login</h1>
        <form action="{% url 'validando_acesso' %}" method="POST">
            {% csrf_token %}
          <div class="inputbox">
            <input type="text" required="required" name="email">
            <span>Email</span>
          </div>
          <div class="inputbox">
            <input type="password" required="required" name="senha">
            <span>Password</span>
          </div>
          <div class="inputbox">
            <input type="submit" value="Entrar">
            
          </div>
          
           <a href="{% url 'home' %}">inicio</a>
         

        </form>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script>

</body>
</html>

